@import url('https://fonts.googleapis.com/css?family=Lato');

a {
    text-decoration: none;
}


body {
    margin: 0;
    font-family: 'Lato', sans-serif; 
    background-color: #F0FBFC;
    scroll-behavior: smooth;;
}

g* {
    outline: 1px solid aqua;
}

#header {
    height: 155px;
    background: url("img/logo-flipped-light.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 100% 55%;
    background-color: white;
}

.nav {
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px auto;
}

.logo {
    margin-top: 25px;
}

.logo img {
    width: 140px;
}

.links  {
    text-align: right;
    margin-top: 60px;
    font-size: 1.7rem;
    color: #1F3B3F;
}

.links a {
    text-decoration: none;
    color: #1F3B3F;
}

.links b {

}

.links #backslash {
    padding-left: 7px;
    padding-right: 7px;
}

.links #vertical-line {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.9rem;
    color: #96B0B2;
}

#scroll {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#scroll .scroll-img {
    display: inline-block;
}


#scroll .scroll-img img {
    max-width: 1200px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
    background-color: white;
}

#scroll h1 {
    color: #3A5F60;
    position: absolute;
    font-size: 1.2rem;
    padding-left: 18px;
    padding-top: 570px;
    text-align: left;
    float: left;
}

#about {
    color: #3A5F60;
    position: absolute;
    padding-top: 90px;
    padding-left: 600px;
}

#about h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
    color: #1F3B3F;
}

#about ul {
    font-size: 1.3rem;
    padding-top: 0px;
    margin-top: 6px;
    list-style-position: inherit;
    list-style-type: none;
}

#about li {
    padding-bottom: 3px;
}

#about li:nth-child(2n) {
    color: #1F494C;
}

#about a:link {
  color: #3A5F60; 
  background-color: transparent; 
}



#about a:visited {
  color: #3A5F60;
  background-color: transparent;
}

#about a:hover {
  color: midnightblue;
  background-color: transparent;
}

#about a:active {
  color: palevioletred;
  background-color: transparent;
}

#link a:hover {
  color: midnightblue;
  background-color: transparent;
}

#links a:active {
  color: palevioletred;
  background-color: transparent;
}

#footer {
    height: 100px;
    background: url("img/logo-flipped-light.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 100% 55%;
    background-color: white;
    margin-top: 70px;
}

#back {
    margin-top: 20px;
    padding-top: 40px;
    font-size: 1.5rem; 
    border: none; 
    outline: none; 
    background-color: white;
    color: #1F3B3F;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 20px; 
    font-size: 1.5rem;
    font-weight: 600;
}

#back:hover {
    background-color: #B9E6ED; 
}

#button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footer p {
    text-align: right;
    padding-right: 30px;
    color: #3A5F60;
    padding-top: 0px;
    margin-top: -10px;
}

.page {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    height: 300px;
}

.tri {
    position: absolute;
    width: 300px;
    margin-top: 0px;
}

.tri img {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width:100%;
    max-height:100%;
}

.title {
    padding-top: 80px;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
}

.title h1 {
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: oblique;
    color: #336F72;
}

.case img {
    width: 1000px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
    background-color: white;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    height: 200px;
    margin-top: 70px;
    background: url("img/triangle.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: white;
}

.text {
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: 60px;
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: oblique;
    color: #336F72;
    text-align: center;
}
    
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    height: 1000px;
    width: 1000px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background: url("img/scroll/doggos.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#contact img {
    height: 1001px;
    position: absolute;
}